<!DOCTYPE html>
<head><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="shortcut icon" href="http://www.iconj.com/ico/f/3/f3wzl4zyvo.ico" type="image/x-icon" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="../style/personal_site.css"/>
<title>Eamon's Life</title>
<h1>EamonsLife.com</h1>
<ul>
	<li><a href="index.html">Home</a></li>
	<li>|</li>
  <li><a href="about_me.html">About Me</a></li>
  <li>|</li>
  <li><a href="photos.html">Photos</a></li>
  <li>|</li>
  <li><a href="music.html">Music</a></li>
</ul>
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<p>My name is Eamon McLoughlin, I'm 16 years old, and I'm a junior at Balboa High School in San Francisco.  I love to play soccer, hang out with my friends, and go places.  I watch a lot of sports, and I like to play video games.  I hope to go to a great college in the future, to study computer science, and hopefully play soccer.</p>