<!DOCTYPE html>
<head><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="shortcut icon" href="http://www.iconj.com/ico/f/3/f3wzl4zyvo.ico" type="image/x-icon" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="../style/personal_site.css"/>
<title>Eamon's Life</title>
<h1>EamonsLife.com</h1>
<ul>
	<li><a href="index.html">Home</a></li>
	<li>|</li>
  <li><a href="about_me.html">About Me</a></li>
  <li>|</li>
  <li><a href="photos.html">Photos</a></li>
  <li>|</li>
  <li><a href="music.html">Music</a></li>
</ul>
</head>
<body>
<br>
<img src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/10848076_370651969775201_674587638_n.jpg" height="250
" width="250">
<br>
<br>
<p> Wisdom of the Day: </p>
<a class="twitter-timeline" href="https://twitter.com/eamcloughlin"
    data-chrome="nofooter noborders noheader noscrollbar"
    data-tweet-limit="1"
    data-widget-id="628296737145270273">Tweets by @eamcloughlin</a>
    <br>
    <br>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>